<div class="brand-logo flex">
        <i class="material-symbols-outlined">
            menu_book
        </i>
        Bootcamp
</div>

<ul class="navigation">
    <li>
        <a href="#" class="flex">
            <i class="material-symbols-outlined">
                apps
            </i>
            Dashboard
        </a>
    </li>
    <li>
        <a href="#" class="flex">
            <i class="material-symbols-outlined">
                library_books
            </i>
            Manage Buku
        </a>
    </li>
    <li>
        <a href="#" class="flex">
            <i class="material-symbols-outlined">
                domain
            </i>
            Manage Penerbit
        </a>
    </li>
    <li>
        <a href="#" class="flex">
            <i class="material-symbols-outlined">
                group
            </i>
            Manage Pengguna
        </a>
    </li>
</ul>