@{layout('')}
<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Todo App</h1>
        <button onclick="tambah()">Tambah Todo</button>
        <ol id="list"></ol>

        <!-- <ol>
            <li>Membuat Website | progress | @{NOW.format("YYYY-MM-dd")}
                <button onclick="hapus(0)">Hapus</button>
                <button onclick="ubah(0)">Ubah</button>
            </li>
        </ol> -->

        <!-- <script type="text/javascript"> //bisa jg tanpa type="text/javascript"
            // global variable
            // window.alert('hello');
            
            // ujicoba konflik goblal variable -> jika menggunakan global variable maka akan menimpa function yg sudah ada
            // window.alert = function(){
            //     console.log('halo');
            // };
            // window.alert();

            // ujicoba penggunaan var untuk window object
            var name = 'Dwi nurseto';
            console.log(window.name);
        </script> -->

        <script src="/js/todo.js">

        </script>
    </body>
</html>