@{layout("layouts/admin")}

<div class="header">
    
</div>
<div class="sidebar">
    @{view("components/sidebar")}
</div>
<div class="main">
    <div class="grid-col-12">
        @{view("components/card", {class: 'background-linear', btnClass: 'btn-primary', title: 'Semua Buku', icon: 'library_books', total: '10', path: '/buku'})}
        @{view("components/card", {class: 'background-linear-2', btnClass: 'btn-primary',  title: 'Semua Penerbit', icon: 'domain', total: '15', path: '/penerbit'})}
        @{view("components/card", {class: 'background-linear-3', btnClass: 'btn-primary',  title: 'Semua Pengguna', icon: 'group', total: '20', path: '/pengguna'})}
    </div>
</div>